{%extends "webapp/base.html"%}
{% load static %}
{%block content%}
<br>
<div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <ul class="list-group" id="myList">
        {% for shikigami in shikigami_list %}
        <li class="list-group-item">
            <img src="{% static shikigami.image %}">
            {{shikigami.shikigamiJapName}}
            {{shikigami.shikigamiVietName}}
            {{shikigami.shikigamiLocation}}
        </li>
        {% endfor %}
    </ul>
</div>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});



</script>
{%endblock%}